<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Blog edit</h1>
    <div th:each="elements : ${post}">
        <form method="post">
            <input type="text" th:value="${elements.title}" name="title" placeholder="Enter article name"
                   class="form-control"><br>
            <input type="text" name="anons" th:value="${elements.anons}" placeholder="Enter article anons"
                   class="form-control"><br>
            <textarea name="full_text" placeholder="Enter full text" class="form-control"
                      th:text="${elements.full_text}"/><br>
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>