<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sites Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1>Sites Blog</h1>
    <div th:each="elements : ${posts}" class="alert alert-info mt-2">
        <h3 th:text="${elements.title}"/>
        <p th:text="${elements.anons}"/>
        <a th:href="'/blog/' + ${elements.id}" class="btn btn-warning">Detailed<a/>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>