<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sites Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <div th:each="elements : ${post}" class="alert alert-info mt-2">
        <h1 th:text="${elements.title}"/>
        <p th:text="${elements.full_text}"/>
        <p><b>Views: </b><span th:text="${elements.views}" class=""/></p>
        <a th:href="'/blog/' + ${elements.id} + '/edit'" class="btn btn-warning">Edit<a/><br><br>
            <form th:action="'/blog/' + ${elements.id} + '/delete'" method="post">
                <button class="btn btn-warning" type="submit">Delete</button>
            </form>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>